.splashImage {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  filter: drop-shadow(4px 4px 0px var(--color-terminal-green-50));
  opacity: 0.33;
}

.splashImage.intense {
  opacity: 0.15;
}

.splashImage.background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.splashImage.background canvas {
  height: 100%;
  width: auto;
  translate: 0 14vh;
}
